
/*div{
    height:100px;
    width: 100px;
    background-color: blue;
    border-width: 10px;
    border-style:dashed;
    border-color: bisque;
    border:5px dashed bisque;
    text-align:left;
    border-radius: 50%;
    padding-top: 25px;
    padding:50px; here top,right,bottom,left will be within same measurements
    next padding can be also done as giving values for all sides like (1px,2px,3px,4px) here t,r,b,l will have  clockwise direction
    padding:25px;
    margin-top:25px;
}*/

/*h1{
    height: 100px;
    width: 200px;
    background-color: brown;
    border-width: 10px;
    border-style: solid;
    border-color: aquamarine;
    border:10px solid aquamarine;
    text-align: center;
}
.trafficlight{
    width: 170px;
    height: 400px;
    border-radius: 20px;
    position: relative;
    border: solid 10px cornsilk;
    background-color: black;
}
.red{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    position:absolute;
    top: 45px;
    left: 45px;
    background-color: red;

}
.yellow{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    position:absolute;
    top: 150px;
    left: 45px;
    background-color: yellow;
}
.green{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    position:absolute;
    top: 250px;
    left: 45px;
    background-color: green;

}*/
*{
    padding:0;
    margin: 0;
    color:white;

}
.navbar{
    height: 60px;
    background-color: black;
    border: 5px cornsilk solid;
    border-radius: 5px;
}
button{
    background-color: #f08804;
}
#logo{
    color: #f08804;
    font-size: 25px;
}
a{
    margin-right: 200px;
    text-decoration: none;
}
.contentbox1{
    height: 100px;
    width: 100px;
    border:2px solid black;
    background-color:rgba(0,0,255,0.5);
    display:inline-block;
    
}
.contentbox2{
    height: 100px;
    width: 100px;
    border:2px solid black;
    background-color:rgba(0,255,0,0.5);
    display: inline-block;
    
}
.contentbox3{
    height: 100px;
    width: 100px;
    border:2px solid black;
    background-color:rgba(255,0,0,0.5);
    display: inline-block;
}
#content{
    height: 720px;
}
footer{
    color:black;
    text-align: center;
}
/**{
    color:white;
}
div{
    background-color: black;
    display:inline;
}

button{
    display:block;
}
div{
    width: 100px;
    height: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
}
.d{
    background-color: yellow;

}

.i{
    background-color: rgba(0,255,0,0.25);

}
.v{
    background-color: crimson;
}*/